table {
    font-family: 'Raleway', sans-serif;
    font-size: .75rem;
    width: 100%;
    border: 1px dashed gray;
    margin-top: 10px;
}

table td {
    border: 1px dashed gray;
    font-weight: 600;
    text-align: left;
    width: fit-content;
}

img {
    border-radius: 25px;
    margin: 5px;
}